<meta charset="utf-8">
//less переменные проекта
@tablet: 700px;
@bgpage: #dda3b9;
@bgcard: white;
@bgtable:#eee;
@fonttitle: orange;
@fontsocial: green;
@hoverlinks: yellow;
// подключение стилей проекта
@import "page/page";
@import "logo/logo";
@import "card/card";
@import "table/table";
@import "social/social";
