.b-table{
    position: relative;
    margin: 10px auto;
    text-align: center;
}
.b-table__tr{
    padding: 5px;
    background-color: #eee;
}
.b-table__tr:hover{
    background-color: yellow;
    cursor: pointer;
}
.b-table__td{
    padding: 5px 15px;
}
