.b-logo{
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 1;
}
@media screen and (min-width: 700px) {
    .b-logo__img{
    -webkit-filter: saturate(800%); /* Chrome, Safari, Opera */
    filter: saturate(800%);
}
}
